[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openai = "*"
transformers = "*"
plotly = "*"
matplotlib = "*"
scikit-learn = "*"
torchvision = "*"
torch = "*"
scipy = "*"
tiktoken = "*"
notebook = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.2"
